<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Online Casino</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/dice1.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
   <h2 id="heading">Online Casino</h2>
  <nav><a href="/login"><img id="logo" src="/assets/img/pokerChip.png" alt="face logo"/></a>
    <div class="navlink">
      <a href="/logout">Log out</a> |
      <div id="pageNav">
        <a id="homeNav" class="pageNav" href="/casino">Home</a>
        <a id="gameNav" class="pageNav" href="/game">Games</a>
        <a id="messageNav" class="pageNav" href="/message">Messages</a>
        <a id="accountNav"class="pageNav"  href="/account">Account</a>
      </div>
    </div>
  </nav>
  <section id="pageInfo"></section>
  <section id="userInfo">
  </section>
  <section class="sectionTitles"></section>
  <section id="makeDomo">
  </section>
  <section id="domos">
  </section>
  <div id="errorBubble"><img id="speech" src="/assets/img/bubble2.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <footer>
    &copy Erik Azzarano 2018
  </footer>
  <script src="/assets/bundle.js"></script>
</body>
</html>